.App {
  margin: 15px;
}

.districts,
.cities {
  margin-top: 20px;
  max-width: 400px
}

.district,
.city {
  border: 1px solid gray;
  padding: 10px;
}

.district-content,
.city-content {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.district-more-content {
  margin-left: 25px;
  border-top: 1px solid black;
  margin-top: 10px;
}

.cities {
  max-width: 200px;
}

.city {
  padding-bottom: 5px;
  border: none;
}
